body {margin:0;
    padding: 0px;
}


.topnav {
    background-color: #246a4e;
    height: 55px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.icons {
    color: #fff;
   padding: 1px; 
    margin-left: 90px;
    margin-top: 15px;
    margin: 20px;
    display: flex;
    padding-left: 100px;
    width: 30px;
    align-items: center;
}
.icons i {
    padding: 10px;
}

.topnav a {
    float: right;
    text-decoration: none;
    justify-content: right;
    color: #fff;
    margin-right: 100px;
    align-items: center;
    margin-top: 15px;
    width: 1px;
    display: flex;
}

@media only screen and (min-width:700px) and (max-width:995px) {
    .topnav {
        display: none;
        margin-top: 0px;
    }
    .navbar {
        display: none;
    }

}





@media only screen and (min-width:400px) and (max-width:699px) {
    .topnav {
        display: none;
        margin-top: 0px;
    }
    .navbar {
        display: none;
    }
 
}





@media only screen and (min-width:100px) and (max-width:399px) {
    .topnav {
        display: none;
        margin-top: 0px;
    }
    .navbar {
        display: none;
    }

}

















.navbar {
    overflow: hidden;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
}

img.navlogo {
    width: 200px;
    margin-left: 80px;
}

.navbar a {
    float: right;
    display: block;
    justify-content: center;
    align-items: center;
    color: #246a4e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 0px;
}
img.navlogo {
    margin-top: -20px;
  align-content: left;
  float: left;
  margin-left: -620px;
}


.navbar a:hover {
    background: #ddd;
    color: black;
  }
  

  @media only screen and (min-width:700px) and (max-width:995px) {

}





@media only screen and (min-width:400px) and (max-width:699px) {
 
}





@media only screen and (min-width:100px) and (max-width:399px) {

}
























  .banner {
      min-height: 0%;
      margin-top: 0px;
      margin-top: -30px;
   }
  
  .banner {
      background-image: url(images/lightening\ city\ background.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 500px;
  }
  .banner img {
      width: 100%;
      height: 100px;
      opacity: 200px;
  }
  .banner h1 {
      font-family: cursive;
      font-weight: bolder;
      font-size: 60px;
      margin-top: 65px;
      margin-bottom: 80px;
      color: #fff;
       vertical-align: middle;
      text-align: center;    
  }
  .banner p {
      font-weight: bolder;
      font-size: 20px;
      color: #fff;
      text-align: center;
  }
  .banner li {
      list-style-type: none;
  }




  @media only screen and (min-width:700px) and (max-width:995px) {

}





@media only screen and (min-width:400px) and (max-width:699px) {
 
}





@media only screen and (min-width:100px) and (max-width:399px) {
    .banner {
        background-image: url(images/lightening\ city\ background.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:inherit;
        width: 100%;
        height: 100%;
    }
    .banner h1 {
        font-family: cursive;
        font-weight: bolder;
        font-size: 30px;
        margin-top: 0apx;
        margin-bottom: 80px;
        color: #fff;
         vertical-align: middle;
        text-align: center;    
    }

}
















  .header {
    display: flex;
    text-align: justify;
    text-overflow: right;
}
.header li {
    list-style-type: none;
}
.helmi h2 {
    color: #07291b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 90px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
}
.header p {
    margin-top: 0%;
    font-size: 18px;
    margin-right: 0%;
    margin-left: 450px;
}
p.bigsize {
    font-size: 20px;
    font-weight: bolder;
    color: #07291b;
    margin-right: 0px;
    margin-top: -240px;
    margin-left: 450px;
}
.header img {
    padding-left: 130px;
    margin-top: 5px;
    height: auto;
}


@media only screen and (min-width:700px) and (max-width:995px) {

}





@media only screen and (min-width:400px) and (max-width:699px) {
 
}





@media only screen and (min-width:100px) and (max-width:399px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header p {
        margin-top: 30px;
        font-size: 18px;
        margin-right: 0%;
        text-align: left;
        margin-left: 0px;
    }
    .helmi h2 {
        color: #07291b;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 90px;
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
        line-height: 18px;
    }
    .header img {
        width: 130px;
        padding-left: 80px;
        margin-top: 5px;
        height: auto;
    }

}













.clients {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 100px;
}
h4.clientshead {
    color: #000;
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top: 100px;
}

img.clientslogo {
    width: 150px;
    display: flex;
    margin: 0px 0px;    
    margin-top: -60px;
    justify-content: space-around;
    margin-bottom: 105px;
    }
    
p.clientslogo {
    margin-bottom: 105px;
    Padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    Font-size: 20px;
    text-align: center;
    color: #07291b;
    margin-top: -37px;
    border: 3px solid #246a4e;
    }


    @media only screen and (min-width:700px) and (max-width:995px) {

    }
    
    
    
    
    
    @media only screen and (min-width:400px) and (max-width:699px) {
     
    }
    
    
    
    
    
    @media only screen and (min-width:100px) and (max-width:399px) {
        img.clientslogo {
            width: 130px;
            display: flex;
            flex-direction: column;
            margin: 0px 0px;    
            margin-top: -70px;
            justify-content: space-around;
            margin-bottom: 105px;
            }
            .clients {
                margin-left: 10%;
                margin-right: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                padding-top: 100px;
            }
    
    }


  




.columns {
    padding-top: 200px;
    border-radius: 40px;
    display: grid;
    grid-gap: 35px;
    padding: 10px;
    justify-content: center;
    background-color: #fff;
    grid-template-columns: auto auto auto;
}

.columns div {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    background-color: #f9f9f9;


    }
    
    .columns h4{
        font-size: 30px;
        margin-bottom: 25px;
        font-weight: bolder;
    }
    .columns p{
        margin:0;
        font-size: 18px;

    }

    @media only screen and (min-width:700px) and (max-width:995px) {

    }
    
    
    
    
    
    @media only screen and (min-width:400px) and (max-width:699px) {
     
    }
    
    
    
    
    
    @media only screen and (min-width:100px) and (max-width:399px) {
        .columns {
            padding-top: 2000px;
            display: grid;
            grid-gap: 35px;
            padding: 10px;
            justify-content: center;
            background-color: #fff;
            grid-template-columns: auto;
        }
    
    }













    .process {
        margin-top: 0px;
    }
    .process li {
        list-style-type: none;
    }
    .process img {
        width: 550px;
        padding-left: 50px;
        margin-bottom: 200px;
        height: auto;
    }
    .process p {
        margin-top: 10px;
        font-size: 18px;
        margin-right: 0%;
        margin-left: 730px;
    }
    p.bigsizeprocess {
        margin-top: -650px;
        font-size: 23px;
        margin-left: 600px;
        font-family: cursive;
    }

    @media only screen and (min-width:700px) and (max-width:995px) {

    }
    
    
    
    
    
    @media only screen and (min-width:400px) and (max-width:699px) {
     
    }
    
    
    
    
    
    @media only screen and (min-width:100px) and (max-width:399px) {
        .process img {
            width: 290px;
            padding-left: 0px;
            margin-bottom: 0px;
            height: auto;
        }
        .process {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
        }
        p.bigsizeprocess {
            margin-top: 30px;
            font-size: 23px;
            margin-left: 0px;
            text-align: center;
            font-family: cursive;
        }
        .process p {
            text-align: left;
            margin-top: 30px;
            font-size: 18px;
            margin-right: 0%;
            margin-left: 0px;
        }
    
    
    }











    .footers {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
        margin-top: 190px;
        background-color: #246a4e;
    }

    .footers p {
        padding-left: 50px;
        color: #fff;
        font-size: 17px;
    }

    .footers img {
        margin-top: 50px;
        padding-left: 50px;
    }
    .iframes {
        margin-top: 60px;
    }
    img.goodfirms {
        width: 175px;
        justify-content: center;
    }
    p.abouth {
        margin-top: 50px;
        padding-left: 10px;
        font-size: 18px;
        font-weight: bold;
    }
    p.about {
        font-size: 17px;
        padding-left: 10px;
    }
    .footericons i {
        margin-left: -50px;
        padding: 0.1px;
        margin-right: 100px;
    }
    p.footernav a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
    }
    p.footernav {
        padding-left: 100px;
        margin-top: 75px;
    }


    @media only screen and (min-width:700px) and (max-width:995px) {

    }
    
    
    
    
    
    @media only screen and (min-width:400px) and (max-width:699px) {
     
    }
    
    
    
    
    
    @media only screen and (min-width:100px) and (max-width:399px) {
        body {margin:0;
            padding: 0px;
        }
        .footers {
            justify-content: left;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        p.about {
            font-size: 14px;
        }
        p.footeraddress {
            font-family: 14px;
        }
        p.abouth {
            font-size: 16px;
        }
        img.goodfirms {
            width: 120px;
        }
    .footers img {
        justify-content: center;
        width: 170px;

    }
    p.copyright {
        position: absolute;
        bottom: 300px;
    }
    .footericons i {
        margin-left: 0px;
        text-align: center;
        padding: 2px;
        margin-right: 0px;
    
    }